* {
    margin: 0px;
}

/*=============ADIÇÃO DE FONTES e PALETA DE CORES=============*/
@font-face {
    font-family: 'audiowide';
    src: url('fonts/audiowide/Audiowide-Regular.ttf');
}

@font-face {
    font-family: 'electrolize';
    src: url('fonts/electrolize/Electrolize-Regular.ttf');
}

@font-face {
    font-family: 'quantico';
    src: url('fonts/quantico/Quantico-Regular.ttf');
}

:root {
    --azul_prussia: #0E273c;
    --azul_chrysler: #4400D0;
    --ultravioleta: #4d437e;
    --violeta_russa: #231B4C;
    --roxo_escuro: #0a0024;
    --branco_sal: #fafafa;
    --branco_fumaca: #f5f5f5;
}
/*===========================================================*/

header {
    position: relative;
}

/*################### SIDEBAR(Start) ##################*/
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        background-color: beige;
    }

    .slide {
        background-color: #1e1e1e;
        height: 100%;
        width: 600px;
        position: fixed;
        top: 0px;
        transform: translateX(-600px);
        transition: 0.5s ease;
        padding: 13px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.459);
        z-index: 3;
    }

    .slide > h1 {
        color: #8863ff;
        font-family: 'quantico';
        font-size: 45px;
        color: var(--branco_fumaca);
        margin-left: 120px;
        margin-top: -5px;
    }

    ul {
        margin-top: 50px;
    }

    ul li {
        background-color: rgba(242, 255, 60, 0);
        list-style: none;
        border-left-style: solid;
        border-color: #f5f5f5;
        border-width: 1px;
    }

    ul div.fundo {
        width: 0px;
        background-color: #f5f5f5;
        transition: width 300ms ease-out;
    }

    ul a {
        color: var(--branco_fumaca);
        background-color: rgba(247, 234, 245, 0);
        
        font-family: 'electrolize';
        text-align: left;
        font-size: 27px;
        text-wrap: nowrap;
        text-decoration: none;

        padding-left: 15px;
        margin: 25px auto;
        display: block;
        
        height: 37px;
        align-content: center;

        transition: color 250ms ease-out, padding-left 350ms ease-in-out;
    }

    /*--------ANIMAÇÃO DOS BOTÕES DO MENU(start)----------*/
        ul li:hover > div.fundo {
            background-color: #f5f5f5;
            width: 90%;
        }

        ul li:hover > div.fundo > a {
            color: #1e1e1e;
            padding-left: 25px;
        }
    /*--------ANIMAÇÃO DOS BOTÕES DO MENU(end)----------*/

    input {
        display: none;
        visibility: hidden;
    }

    .toggle {
        position: fixed;
        height: 40px;
        width: 45px;
        top: 20px;
        left: 42px;
        z-index: 4;
        border-radius: 2px;
        background-color: rgba(122, 56, 56, 0);
        cursor: pointer;
    }

    .toggle .common {
        background-color: aliceblue;
        position: absolute;
        height: 2px;
        width: 25px;
        border-radius: 50px;
        transition: 0.3s ease;
    }

    .toggle .top-line {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle .middle-line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle .bottom-line {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input:checked ~ .toggle .top-line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }

    input:checked ~ .toggle .middle-line {
        opacity: 0;
        transform: translateX(20px);
    }

    input:checked ~ .toggle .bottom-line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }

    input:checked ~ .slide {
        transform: translateX(0px);
    }
/*################### SIDEBAR(end) ##################*/

/*====================BARRA DE NAVEGAÇÃO(start)====================*/
    nav {
        background-image: linear-gradient(to right, #291d65, #3f00c0);
        box-shadow: 0px 0px 8px;
        position: fixed;
        display: flex;
        gap: 1px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: -77px;
        z-index: 2;
    }

    nav h1 {
        font-weight: lighter;
    }

    nav #logo-nav {
        background-color: rgba(255, 206, 141, 0);
        width: 60px;
        height: 60px;
    }

    #logo-nav > img{
        width: 60px;
        transform: rotateZ(20deg);
    }

    nav > a {
        background-color: rgba(0, 255, 255, 0);
        font-size: 35px;
        font-family: 'audiowide', sans-serif;
        font-weight: lighter;
        text-decoration: none;
        margin: 5px;
        margin-left: 0px;
        color: var(--branco_sal);
    }
/*====================BARRA DE NAVEGAÇÃO(end)====================*/

/*==========CAPA DA HOMEPAGE(start)=========*/
    #poster-homepage {
        background-image: url('img/ligacoes-futuristicas.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vw;
        max-height: 500px;
        min-width: 100px;
        margin-top: 77px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    header #poster-homepage p#titulo-universo-digital {
        color: #d0fffa;
        font-family: 'electrolize';
        font-size: 6.5vw;
        margin-bottom: 15px;
    }

    header #subtitulo-universo-digital {
        color: #eafbff;
        font-family: 'quantico';
        font-size: 1.7vw;
        text-align: center;
    }
/*==========CAPA DA HOMEPAGE(end)=========*/

/*==========CONTEÚDO MAIN(start)=========*/
    main {
        background-image: linear-gradient(to bottom, var(--violeta_russa), var(--roxo_escuro));
        padding: 10px;
        padding-top: 25px;
        padding-bottom: 0px;
        display: flex;
    }

    main h2 {
        font-family: 'quantico';
        font-weight: bold;
        font-size: 40px;
        color: var(--branco_sal);
        text-align: center;
        margin-bottom: -20px;
    }

    main a {
        text-decoration: none;
    }

    a.link-texto {
        display: inline;
        font-family: 'quantico';
        font-weight: bold;
        font-style: italic;
        color: #e17dff;
        text-indent: 0px;
    }

    sup {
        font-size: 12px;
    }

    /*Display none: pra não interferir na visualização do desktop*/
    div.anuncio-mobile {
        display: none;
    }


    /*===MEDIAS PARA AJUSTES NO MENU LATERAL PARA DESKTOP===*/
        @media screen and (min-width:900px) {
            .toggle {
                display: none;
            }
        }

        @media screen and (max-width:900px) {
            #col-1, #col-3 {
                display: none;
            }
        }
    /*===MEDIAS PARA AJUSTES NO MENU LATERAL PARA DESKTOP(end)===*/

    /*=====COL-1======*/
        #col-1{
            background-color: #1e1e1e;
            margin-top: -25px;
            margin-left: -10px;

            border-style: solid;
            border-width: 0px;
            border-right-width: 5px;
            border-bottom-right-radius: 15px;
            border-color: #2d2d2d;
            
            padding: 20px;
            padding-top: 60px;

            min-width: 264px;
            height: 900px;
            font-family: 'electrolize';
            font-weight: lighter;
        }
        #col-1 h2 {
            font-size: 40px;
            color: #8863ff;
        }

        #col-1 a {
            font-size: 19px;
            background-color: rgba(0, 255, 255, 0);
        }

        #col-1 i {
            font-size: 22px;
            font-weight: light;
            margin-right: 15px;
        }

    /*=====COL-2======*/
        #col-2{
            margin: auto;
            width: 80%;
            padding: 20px;
            padding-top: 0px;
        }

        #col-2 > p {
            margin: auto;
            margin-top: 30px;
            max-width: 700px;
            font-size: 19px;
            text-align: center;
            text-indent: 0px;
        }

    /*=====COL-3======*/
        #col-3{
            background-color: rgba(70, 1, 116, 0.205);
            width: 20%;
            margin: 5px;
    }

    /*=======================COL-2(start)======================*/

    /*MEDIA PARA O INDEX DE DESKTOPS*/
    @media screen and (min-width:1100px) {  
        /***********ARTICLES(index)*************/
            article.index1 {
                max-width: none;
                width: 90%;
                margin-bottom: 0px;
            }

            .article-lateral {
                width: 90%;
                display: flex;
                margin: auto;
                gap: 16px;
                flex-wrap: wrap;
            }

            article.index2 {
                width: 48.5%;
                margin-top: 20px;
            }

            article.index2 h3, article.index2 p {
                font-size: 1em;
            }

            
        /***********ARTICLES(end)*************/
    }
        article {
            background-color: var(--ultravioleta);
            max-width: 650px;
            margin: 30px auto;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        article h3 {
            font-family: 'quantico';
            font-weight: bold;
            font-size: 25px;
            color: var(--branco_sal);
        }

        article p, main p {
            font-family: 'quantico';
            font-size: 20px;
            text-indent: 30px;
            color: var(--branco_fumaca);
            margin-top: 8px;
        }

        .poster-article {
            width: 100%;
            margin-bottom: 10px;
        }

            /*----ANIMAÇÃO DE FADE-OUT E ZOOM-OUT------*/
            .poster-article > img {
                transition: all 0.6s ease ;
            }

            article:hover > a > div.poster-article > img {
                transform: scale(0.95);
                filter: brightness(0.6);
            }
            /*------------------------------------------*/

        .poster-article > img {
            width: 100%;
        }/*====COL-2(end)====/

    /*===========FOOTER(start)=============*/
        footer {
            background-color: #2b2c56;
            width: 100%;
            margin: auto;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        footer p {
            font-family: 'electrolize';
            color: var(--branco_fumaca);
            text-align: center;
            font-style: italic;
            font-size: 15px;
        }
    /*==========FOOTER(end)=============*/

/*==========CONTEÚDO MAIN(end)=========*/

@media screen and (max-width:600px) { /*MEDIA QUERY PARA MOBILES*/
    body {
        min-width: 320px;
    }
    /*================BARRA DE NAVEGAÇÃO(start)===============*/
        nav {
            min-width: 346px;
        }

        nav > a{
            font-size: 20px;
            margin: 11px;
        }

        nav #logo-nav {
            width: 47px;
            padding-top: 2px;
            height: 52px;
        }

        #logo-nav > img{
            width: 100%;
        }

        nav {
            margin-top: -60px;
        }
    /*================BARRA DE NAVEGAÇÃO(end)===============*/

    /*################### SIDEBAR(Start) ##################*/
        
        /*################### SIDEBAR(Start) ##################*/
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body {
            background-color: beige;
        }

        .slide {
            width: 400px;
            height: 100%;
            top: 0px;

            transform: translateX(-400px);
            padding: 13px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.459);

            border-style: solid;
            border-width: 0px;
            border-right-width: 5px;
            border-bottom-right-radius: 15px;
            border-color: #2d2d2d;

            z-index: 3;
        }

        .slide > h1 {
            color: #8863ff;
        }
        
        ul {
            margin-top: -20px;
        }

        ul i {
            margin-right: 7px;
        }

        input {
            display: none;
            visibility: hidden;
        }

        .toggle {
            position: fixed;
            height: 40px;
            width: 45px;
            top: 20px;
            left: 42px;
            z-index: 4;
            border-radius: 2px;
            background-color: rgba(122, 56, 56, 0);
            cursor: pointer;
        }

        .toggle .common {
            background-color: aliceblue;
            position: absolute;
            height: 2px;
            width: 25px;
            border-radius: 50px;
            transition: 0.3s ease;
        }

        .toggle .top-line {
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .toggle .middle-line {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .toggle .bottom-line {
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        input:checked ~ .toggle .top-line {
            left: 2px;
            top: 14px;
            width: 25px;
            transform: rotate(45deg);
        }

        input:checked ~ .toggle .middle-line {
            opacity: 0;
            transform: translateX(20px);
        }

        input:checked ~ .toggle .bottom-line {
            left: 2px;
            top: 14px;
            width: 25px;
            transform: rotate(-45deg);
        }

        input:checked ~ .slide {
            transform: translateX(0px);
        }
        /*################### SIDEBAR(end) ##################*/
        
        .slide {
            width: 300px;
        }

        .slide h1 {
            margin-left: 85px;
            margin-top: -7px;
            font-size: 35px;
        }

        .toggle {
            top: 10px;
            left: 10px;
        }

        ul a {
            font-size: 20px;
        }
    /*################### SIDEBAR(end) ##################*/

    /*==========CAPA DA HOMEPAGE(start)=========*/
        header #poster-homepage {
            margin-top: 60px;
            height: 200px
        }
        
        header #poster-homepage p#titulo-universo-digital {
            color: #d0fffa;
            font-family: 'electrolize';
            font-size: 11vw;
            margin-bottom: 10px;
        }

        header #subtitulo-universo-digital {
            color: #eafbff;
            font-family: 'quantico';
            font-size: 4vw;
            text-align: center;
        }
    /*==========CAPA DA HOMEPAGE(end)==========*/

    /*==========CONTEÚDO MAIN(start)=========*/
        main {
            padding: 0px;
        }
        
        main h2 {
            font-size: 7vw;
            padding-top: 10px;
            margin-bottom: -25px;
        }

        #col-2 {
            padding: 0px;
            width: 100%;
        }

        div.anuncio-mobile {
            display: block;
            width: 90%;
            margin: 20px auto;
        }

        article {
            margin: 40px 13px;
        }

        article h3 {
            font-size: 4.5vw;
        }

        article p {
            font-size: 18px;
        }

        section#contato h2 {
            font-size: 20px;
            text-wrap: nowrap;
        }
    /*==========CONTEÚDO MAIN(end)===========*/
}