@import url("estilos-homepage.css");

nav {
    margin-top: 0px;
    z-index: 2;
}

main {
    padding-top: 87px;
    padding-left: 11px;
    padding-right: 15px;
    
}

main > #col-2 > h2 {
    margin: auto;
    margin-bottom: 10px;
    font-size: 46px;
}

main > #col-2 > p {
    font-size: 23px;
    max-width: 700px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

main > #col-2 > p.nome-data {
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    font-size: 15px;
    font-family: "electrolize";
}


#col-2 {
    padding-top: 30px;
    margin-left: 30px;
}

.poster-conteudo {
    background-color: rgba(255, 228, 196, 0);
    max-width: 780px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.poster-conteudo img {
    width: 100%;
    border-radius: 5px;
}

.poster-conteudo a.creditos {
    position: absolute;
    bottom: 1%;
    font-family: "electrolize";
    font-style: italic;
    padding: 7px;
    border-top-right-radius: 10px;
    border-bottom-color: rgb(143, 92, 209);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: rgba(62, 0, 206, 0.623);
    color: var(--branco_fumaca);
    text-align: left;
}

h2.titulo-article-conteudo{
    font-size: 40px;
}

article {
    max-width: 760px;
    cursor: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

article p {
    font-size: 20px;
    line-height: 31px;
    text-align: left;
}

.poster-iframe {
    position: relative;
    background-color: rgba(72, 179, 0, 0);
    margin: auto;
    max-width: 850px;
    height: 450px;
}

iframe {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.192);
}


/*==============BOX DA HOMEPAGE==================*/
    h2.titulo-veja-mais {
        color: rgb(218, 210, 255);
        font-size: 40px;
        text-shadow: 0px 0px 10px rgba(233, 201, 255, 0.286);
    }

    a {
        display: block;
        margin: auto;
        max-width: 760px;
    }
    
    .article-veja-mais:hover {
        cursor: pointer;
    }

    .article-veja-mais {
        background-color: #15053a;
        border-style: solid;
        border-width: 1px;
        border-color: linear-gradient(to right, #291d65, #3f00c0);
        padding: 17px;
        display: flex;
        align-items: center;
    }

    .article-veja-mais p {
        font-size: 16px;
        line-height: 22px;
    }

    .divisor {
        width: 170%;
        padding: 15px;
        padding-top: 0px;
        padding-right: 0px;
    }

    .poster-article img {
        width: 100%;
        min-width: 233px;
    }

    article h3 {
        font-size: 23px;
        text-align: center;
    }

/*==============================*/

@media screen and (max-width: 600px) {
    main {
        padding-top: 77px;
        padding-left: 0px;
        padding-right: 0px;
    }

    main > #col-2 > h2 {
        font-size: 35px;
        margin-left: 20px;
    }

    main > #col-2 > p {
        font-size: 19px;
        margin: 25px 15px;
        margin-top: 10px;
        text-align: center;
        text-indent: 0px;
    }

    #col-2 {
        margin: 0px;
        padding: 0px;
    }

    p.nome-data {
        font-style: italic;
        font-size: 2.5vw;
        margin: 10px;
    }

    .poster-conteudo {
        margin-bottom: 20px;
    }

    .poster-conteudo img {
        width: 100%;
    }

    .poster-conteudo a.creditos {
        font-size: 13px;
        bottom: 1%;
    }

    h2.titulo-article-conteudo{
        text-align: left;
        margin-left: 20px;
        font-size: 32px;
    }

    article {
        padding: 15px;
        cursor: auto;
        margin-top: 10px;
    }

    article p {
        margin: 0px;
        text-align: left;
        text-indent: 30px;
        line-height: 28px;
        font-size: 19px;
        color: var(--branco_fumaca);
    }

    .poster-iframe {
        height: 320px;
        margin-bottom: 30px;
    }

    /*=====BOX DA HOMEPAGE(start)=======*/
        .article-veja-mais {
            flex-direction: column;
            padding: 15px;
        }

        .article-veja-mais p {
            font-size: 17px;
        }

        .divisor {
            padding: 0px;
            width: 100%;
            margin: auto;
        }

        .divisor h3 {
            margin: 20px auto;
            margin-top: 0px;
        }

        .divisor p {
            line-height: 25px;
        }
    /*=====BOX DA HOMEPAGE(end)======*/

    /*======FOOTER(start)======*/
        section#contato h2 {
            font-size: 25px;
        }
    /*======FOOTER(end)*/
}